{% extends 'base.html' %}
{% block content %}

<h1>Members</h1>
<table>
    <tr>
        <th id="table-header-1">Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Email</th>
        <th></th>
    </tr>
    {% for member in members %}
        <tr>
            <td class="td-column-center">{{ member.id }}</td>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member.email }}</td>
            <td class="td-column-center">
                <button type="button" id="details-button"><a href="/members/{{ member.id }}">Member Details</a></button>
                <button type="button" id="edit-button"><a href="/members/{{ member.id }}/edit">Edit Member</a></button>
            </td>
        </tr>
    {% endfor %}
</table>

<br>

<section class="quick-link-buttons">
    <div id="big-button-row">
        <div class="big-button-column">
            <a href="/members/new">
                <div class="big-button">
                    <img src="static/images/noun-profile-1041817.png" width="200px">
                </div>
            </a>
            <h2>+ New Member</h2>
        </div>
        <div class="big-button-column">
            <a href="/fitness_classes/new">
                <div class="big-button">
                    <img src="static/images/noun-weight-1274253.png" width="200px">
                </div>
            </a>
            <h2>+ New Class</h2>
        </div>
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="static/images/noun-add-calendar-943110.png" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}