{% extends 'base.html' %}
{% block content %}

<h1>Member details</h1>
<p id="success-message">{{ message }}</p>
<br>
<div class="details">
    <p><strong>Name: </strong>{{ member.first_name }} {{ member.last_name }}</p>
    <p><strong>Address: </strong>{{ member.address }}</p>
    <p><strong>Email: </strong>{{ member.email }}</p>
    {% if member.active %}
        <p><strong>Membership level: </strong>Standard</p>
    {% elif member.premium %}
        <p><strong>Membership level: </strong>Premium</p>
    {% else %}
        <p class="red"><strong>Membership: </strong>Inactive</p>
    {% endif %}
    
</div>

<div class="button-actions-form">
    <form>
        <button type="button" id="edit-button"><a href="/members/{{ member.id }}/edit">Edit Member Details</a></button>
    </form>
    <form action="/members/{{member.id}}/delete" method="POST">
        <button type="submit" id="delete-button">Delete Member</button>
    </form>
</div>

<br>

<section class="fitness-class-bookings">
    <h1>Bookings</h1>
    <table>
        <tr>
            <th>Booking Ref #</th>
            <th>Class</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        {% for booking in bookings %}
            <tr>
                <td class="td-column-center">{{ booking.id }}</td>
                <td>{{ booking.fitness_class.name }}</td>
                <td>{{ booking.fitness_class.day }}</td>
                <td>{{ booking.fitness_class.time }}</td>
                <td class="td-column-center">
                    <button type="button" id="details-button"><a href="/bookings/{{ booking.id }}">Booking Details</a></button>
                    <button type="button" id="edit-button"><a href="/bookings/{{ booking.id }}/edit">Edit Booking</a></button>
                </td>
            </tr>
        {% endfor %}
        
    </table>
</section>
<br>

<section class="quick-link-buttons">
    <div id="big-button-single">
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-add-calendar-943110.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}