{% extends 'base.html' %}
{% block content %}

<h1>Fitness Class Timetable</h1>
<p id="success-message">{{ message }}</p>
<br>
<table>
    <tr>
        <th id="table-header-1"></th>
        <th>Class</th>
        <th>Category</th>
        <th>Day</th>
        <th>Time</th>
        <th>Status</th>
    </tr>
    {% for day in days %}
        {% for fitness_class in fitness_classes %}
            {% if fitness_class.day == day %}
                <tr>
                
                    {% if fitness_class.category == "Gym" %}
                        <td class="td-column-center"><img src="{{url_for('static', filename= 'images/noun-barbell-2291019.png')}}" alt="Small barbell icon" height="15px"></td>
                    {% elif fitness_class.category == "Cardio" %}
                        <td class="td-column-center"><img src="{{url_for('static', filename= 'images/noun-heart-1067505.png')}}" alt="Small heart icon" height="25px"></td>
                    {% elif fitness_class.category == "Mind & Body" %}
                        <td class="td-column-center"><img src="{{url_for('static', filename= 'images/noun-yoga-1933061.png')}}" alt="Small yoga icon" height="25px"></td>
                    {% endif %}
                    
                    <td>{{ fitness_class.name }}</td>
                    <td>{{ fitness_class.category }}</td>
                    <td>{{ fitness_class.day }}</td>
                    <td>{{ fitness_class.time }}</td>

                    {% if fitness_class.premium %}
                        <td class="td-column-center">Premium</td>
                    {% elif fitness_class.active %}
                        <td class="td-column-center">Active</td>
                    {% else %}
                        <td class="red td-column-center">Inactive</td>
                    {% endif %}

                    <td class="td-column-center">
                        {% if fitness_class.full %}
                        <button type="button" id="class-full-button">Class Full</button>
                        {% else %}
                        <button type="button" id="book-class-button"><a href="/bookings/new">Book Class</a></button>
                        {% endif %}
                        <button type="button" id="details-button"><a href="/fitness_classes/{{ fitness_class.id }}">Class Details</a></button>
                        <button type="button" id="edit-button"><a href="/fitness_classes/{{ fitness_class.id }}/edit">Edit Class</a></button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<br>

<section class="quick-link-buttons">
    <div id="big-button-row">
        <div class="big-button-column">
            <a href="/members/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-profile-1041817.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Member</h2>
        </div>
        <div class="big-button-column">
            <a href="/fitness_classes/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-weight-1274253.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Class</h2>
        </div>
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-add-calendar-943110.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}