{% extends 'base.html' %}
{% block content %}

<h1>Add a new class:</h1>
<br>
<form action="/fitness_classes/new" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Class name" required autofocus>
    </div>

    <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="Gym">Gym</option>
            <option value="Cardio">Cardio</option>
            <option value="Mind & Body">Mind & Body</option>
        </select>
    </div>

    <div>
        <label for="day">Day:</label>
        <select id="day" name="day">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </div>

    <div>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" min="06:00" max="21:00" step="900">
    </div>

    <button type="submit">Add Class</button>
</form>

<br>

<section class="quick-link-buttons" id="two-buttons">
    <div id="big-button-row">
        <div class="big-button-column">
            <a href="/members/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-profile-1041817.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Member</h2>
        </div>
        
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-add-calendar-943110.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}