{% extends 'base.html' %}
{% block content %}

<h1>Class details</h1>
<br>
<div class="details">
    <p><strong>Name: </strong>{{ fitness_class.name }}</p>
    <p><strong>Category: </strong>{{ fitness_class.category }}</p>
    <p><strong>Day: </strong>{{ fitness_class.day }}</p>
    <p><strong>Time: </strong>{{ fitness_class.time }}</p>
</div>

<div class="button-actions-form">
    <form>
        <button type="button" id="edit-button"><a href="/fitness_classes/{{ fitness_class.id }}/edit">Edit Class Details</a></button>
    </form>
    <form action="/fitness_classes/{{fitness_class.id}}/delete" method="POST">
        <button type="submit" id="delete-button">Delete Class</button>
    </form>
</div>

<br>

<section class="member-bookings">
    <h2>Member bookings</h2>
    <table>
        <tr>
            <th>Member ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th></th>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <button type="button" id="details-button"><a href="/members/{{ member.id }}">Member Details</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>
<br>

{% endblock %}