{% extends 'base.html' %}
{% block content %}

<h1>Class details</h1>
{% if members|length >= fitness_class.capacity[fitness_class.category] %}
<button type="button" id="class-full-button">Class Full</button>
{% endif %}
<p id="success-message">{{ message }}</p>
<div class="details">
    <p><strong>Name: </strong>{{ fitness_class.name }}</p>
    <p><strong>Category: </strong>{{ fitness_class.category }}</p>
    <p><strong>Day: </strong>{{ fitness_class.day }}</p>
    <p><strong>Time: </strong>{{ fitness_class.time }}</p>
    {% if fitness_class.active %}
        <p><strong>Status: </strong>Active</p>
    {% else %}
        <p class="red"><strong>Status: </strong>Inactive</p>
    {% endif %}

</div>

<div class="button-actions-form">
    <form>
        <button type="button" id="edit-button"><a href="/fitness_classes/{{ fitness_class.id }}/edit">Edit Class Details</a></button>
    </form>
    <form action="/fitness_classes/{{fitness_class.id}}/delete" method="POST">
        <button type="submit" id="delete-button">Delete Class Data</button>
    </form>
</div>

<br>

<section class="member-bookings">
    <h2>Member bookings</h2>
    <table>
        <tr>
            <th>Member ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Membership</th>
            <th></th>
        </tr>
        {% for member in members %}
            <tr>
                <td class="td-column-center">{{ member.id }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.email }}</td>
                {% if member.active %}
                    <td class="td-column-center">Active</td>
                {% else %}
                    <td class="red td-column-center">Inactive</td>
                {% endif %}
                <td class="td-column-center">
                    <button type="button" id="details-button"><a href="/members/{{ member.id }}">Member Details</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>
<br>

<section class="quick-link-buttons">
    <div id="big-button-single">
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-add-calendar-943110.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}