{% extends 'base.html' %}
{% block content %}

<h1>Edit booking details:</h1>
<br>
<form action="/bookings/{{ booking.id }}" method="post">
    <div>
        <label for="id">Booking Ref #:</label>
        <input type="text" id="id" name="id" value="{{ booking.id }}" disabled>
    </div>
    <div>
        <label for="member_id">Member ID/Name:</label>
        <select id="member_id" name="member_id">
            {% for member in members %}
                <option value="{{ member.id }}"
                {% if member.id == booking.member.id %} selected="selected"{% endif %} {% if not member.active %}disabled{% endif %}>
                    {{ member.id }} - {{ member.first_name }} {{ member.last_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="fitness_class_id">Class:</label>
        <select id="fitness_class_id" name="fitness_class_id">
            {% for day in days %}            
                {% for fitness_class in fitness_classes %}
                    {% if fitness_class.day == day %}
                        <option value="{{ fitness_class.id }}" {% if fitness_class.id == booking.fitness_class.id %} selected="selected"{% endif %} {% if fitness_class.full %} disabled {% elif fitness_class.premium %} disabled {% elif not fitness_class.active %} disabled {% endif %}>
                            {{ fitness_class.name }} - {{ fitness_class.day }} {{ fitness_class.time }}
                        </option>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </select>
    </div>

    <button class="smaller-text-button" type="submit">Update</button>
    <button class="smaller-text-button" type="reset">Reset form</button>
</form>

{% endblock %}