{% extends 'base.html' %}
{% block content %}

<h1>Booking details</h1>
<p id="success-message">{{ message }}</p>
<br>
<div class="details">
    <p><strong>Booking Ref #: </strong>{{ booking.id }}</p>
    <p><strong>Member ID/Name: </strong>{{ booking.member.id }} - {{ booking.member.first_name }} {{ booking.member.last_name }}</p>
    <p><strong>Class: </strong>{{ booking.fitness_class.name }} - {{ booking.fitness_class.day }} {{ booking.fitness_class.time }}</p>
</div>

<div class="button-actions-form">
    <form>
        <button type="button" id="edit-button"><a href="/bookings/{{ booking.id }}/edit">Edit Booking Details</a></button>
    </form>
    <form action="/bookings/{{booking.id}}/delete" method="POST">
        <button type="submit" id="delete-button">Delete Booking</button>
    </form>
</div>
<br>

<section class="quick-link-buttons">
    <div id="big-button-row">
        <div class="big-button-column">
            <a href="/members/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-profile-1041817.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Member</h2>
        </div>
        <div class="big-button-column">
            <a href="/fitness_classes/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-weight-1274253.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Class</h2>
        </div>
        <div class="big-button-column">
            <a href="/bookings/new">
                <div class="big-button">
                    <img src="{{url_for('static', filename= 'images/noun-add-calendar-943110.png')}}" width="200px">
                </div>
            </a>
            <h2>+ New Booking</h2>
        </div>
    </div>
</section>

{% endblock %}